@import "../config";

.Edition {
  padding-left: 40px;
  margin-top: -1rem;
  margin-bottom: 1rem;
  .edition-pub-info {
    clear: both;
    padding-top: .8rem;
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  .edition-image {
    float: left;
    margin-top: .2rem;
    margin-right: 1rem;
    margin-bottom: .2rem;
    height: 150px;
  }
  .edition-detail {
    margin-top: .3rem;
    margin-bottom: 0;
    p {
      margin-top: .1rem;
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.2rem;
      strong {
        font-family: $font-family-regular;
      }
      em {
        font-family: $font-family-regular-italic;
      }
      i {
        font-family: $font-family-light-italic;
      }
    }
  }
  .edition-copy {
    margin-top: .5rem;
    margin-bottom: 0;
    p {
      margin-top: .3rem;
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.2rem;
      &.copy-header {
        font-family: $font-family-semibold;
      }
    }
    span.copy-price {
        font-family: $font-family-semibold;
    }
  }
}
