@import "../config";

.Header {
  h1 {
    font-size: 1rem;
    @media (min-width: 375px) {
      font-size: 1.25rem;
    }
    @media (min-width: 412px) {
      font-size: 1.35rem;
    }
    @media (min-width: 568px) {
      font-size: 1.85rem;
    }
    @media (min-width: 667px) {
      font-size: 2.2rem;
    }
    @media (min-width: 736px) {
      font-size: 2.4rem;
    }
    @media (min-width: 768px) {
      font-size: 2.55rem;
    }
    @media (min-width: 992px) {
      font-size: 3.4rem;
    }
    @media (min-width: 1200px) {
      font-size: 4rem;
    }
    @media (min-width: 1366px) {
      font-size: 4.5rem;
    }
    &.title {
      position: absolute;
      top: 5px;
      left: 5px;
      @media (min-width: 375px) {
        left: 7px;
      }
      @media (min-width: 375px) {
        top: 7px;
        left: 10px;
      }
      @media (min-width: 568px) {
        top: 10px;
        left: 15px;
      }
      @media (min-width: 992px) {
        left: 20px;
      }
      @media (min-width: 1200px) {
        left: 25px;
      }
      @media (min-width: 1366px) {
        top: 15px;
        left: 30px;
      }
    }
  }
  .banner {
    width: 100%;
  }
}
