@import "../config";

.ResultsSection {
  width: 100%;
  //padding: 0 40px 20px;
  background-color: $results-background-color;
  padding: 0 20px 15px 20px;
  @media (min-width: 568px) {
    padding: 10px 20px 20px 40px;
  }
  @media (min-width: 992px) {
    padding: 10px 30px 20px 40px;
  }
  @media (min-width: 1340px) {
    padding: 10px 40px 20px 40px;
  }
  mark {
    margin-top: 20px;
    color: red;
  }
}
