@import "../config";

.SearchSection {
  width: 100%;
  margin: 0;
  background-color: $search-background-color;
  padding: 15px 15px 5px 20px;
  @media (min-width: 568px) {
    padding: 20px 20px 20px 40px;
  }
  @media (min-width: 992px) {
    padding: 20px 30px 20px 40px;
  }
  @media (min-width: 1366px) {
    padding: 20px 40px 20px 40px;
  }
  .search-header {
    display: flex;
    justify-content: space-between;
    .search-btn {
      height: 1.7rem;
      color: $brand-color-dark;
    }
  }
  .search-label {
    margin-bottom: 0;
  }
  .search-text-input {
    width: 70vw;
    padding-left: 6px;
    @media (min-width: 768px) {
      width: 50vw;
    }
  }
  .offered-container {
    padding-top: 10px;
  }
}
