$brand-color-dark: #934d43;
$brand-color-medium: #d5995d;
$brand-color-light: #eedea3;

$font-color-light: #f5f5f5; // 5%
$font-color-medium: #959595; // 50%
$font-color-dark: #111; // 95%

$index-background-color: $font-color-light;
$about-background-color: $brand-color-dark;
$search-background-color: $brand-color-medium;
$results-background-color: $brand-color-light;
$footer-background-color: $brand-color-dark;

$font-family-light: 'Ubuntu-Light', Arial, Helvetica, sans-serif;
$font-family-light-italic: 'Ubuntu-LightItalic', Arial, Helvetica, sans-serif;
$font-family-regular: 'Ubuntu', Arial, Helvetica, sans-serif;
$font-family-regular-italic: 'Ubuntu-Italic', Arial, Helvetica, sans-serif;
$font-family-semibold: 'Ubuntu-Medium', Arial, Helvetica, sans-serif;
$font-family-semibold-italic: 'Ubuntu-MediumItalic', Arial, Helvetica, sans-serif;
//$font-family-bold: 'Ubuntu-Bold', Arial, Helvetica, sans-serif;
//$font-family-bold-italic: 'Ubuntu-BoldItalic', Arial, Helvetica, sans-serif;
